<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-about">
	<section class="c-mainvisual c-mainvisual--subpage">
        <div class="c-mainvisual__inner">
            <h2>ABOUT</h2>
        </div>
    </section>

    <section class="p-about__main">
        <div class="l-container">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis dolorem eaque minima deleniti dicta doloremque ut, officiis odit tempora culpa mollitia ipsa quas quibusdam. 
            Voluptate illo nam delectus reprehenderit laborum?</p>
        </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>