/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-home {
	//-------------------------------------------------------
	&1{
		margin-top: 70px;
		@include sp() {
			margin-top: 60px;
		}
	}
	//-------------------------------------------------------
	&2{

	}
	//-------------------------------------------------------
	&3 {
		.c-title1 {
			padding-top: 100px;
			@include sp() {
				padding-top: 40px;
			}
		}
		&__wrap {
			margin: auto;
		}
		&__btn {
			display: inline-block;
			margin-top: 50px;
			@include sp() {
				margin-top: 20px;
			}
		}
	}
	//-------------------------------------------------------
	&4{
		
	}
}