//baseWidth
$baseWidth: 1200px;
$breakpoint1: 767px;

$mainFonts : "Mulish", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$colorRed: #db483d;
$colorWhite: #ffff;
$colorGreen: #317e35;
$colorGreen--bright: #2fa535;
