	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			<hr>
			<ul class="c-footer__list">
				<li data-wow-duration="1s" class="c-footer__listItem wow bounceInUp">
					<ul class="c-footer__listChild">
						<li class="c-footer__listChildItem"></i>VỀ THIẾT KẾ WEB PXWEBSHOP</li>
						<li class="c-footer__listChildItem"><i class="fa fa-home" aria-hidden="true"></i>179/9 Âu Cơ, P. Bùi Thị Xuân, TP. Quy Nhơn</li>
						<li class="c-footer__listChildItem"><i class="fa fa-phone" aria-hidden="true"></i><span>0973 00 11 39</span></li>
						<li class="c-footer__listChildItem"><i class="fa fa-envelope" aria-hidden="true"></i>info@pxwebshop.com</li>
						<li class="c-footer__listChildItem"><i class="fa fa-globe" aria-hidden="true"></i>https://pxwebshop.com</li>
					</ul>
				</li>
				<li data-wow-duration="1s"  class="c-footer__listItem wow bounceInUp">
					<ul class="c-footer__listChild">
						<li class="c-footer__listChildItem"></i>DỊCH VỤ</li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Quảng cáo google</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Quảng cáo facebook</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">SEO website</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Domain – Hosting</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế phần mềm</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Network design</a></li>
					</ul>
				</li>
				<li data-wow-duration="1s"  class="c-footer__listItem wow bounceInUp">
					<ul class="c-footer__listChild">
						<li class="c-footer__listChildItem"></i>MẪU WEBSITE DỰ ÁN</li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế web du lịch</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế web bất động sản</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế web khách sạn</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế web doanh nghiệp</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế web trường học</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thiết kế web bán hàng</a></li>
					</ul>
				</li>
				<li data-wow-duration="1s"  class="c-footer__listItem wow bounceInUp">
					<ul class="c-footer__listChild">
						<li class="c-footer__listChildItem"></i>HỖ TRỢ KHÁCH HÀNG</li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Câu hỏi thường gặp</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Hướng dẫn thanh toán</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Tài liệu hỗ trợ</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Liên hệ</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Chính sách</a></li>
						<li class="c-footer__listChildItem"><i class="fa fa-angle-double-right"></i><a href="#">Thanh toán</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</footer>
	<script src="../assets/js/main.js"></script>
</body>
</html>