<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Công ty thiết kế web - phần mềm</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/animate.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

	<script src="/assets/js/jquery.min.js"></script>
	<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
	<script src="/assets/js/wow.min.js"></script>
	
	<!-- <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script> -->

	<script>
		new WOW().init();
	</script>
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="l-container">
			<div class="c-header__menu" id="top-menu">
				<figure class="c-header__logo">
					<img src="https://placehold.jp/150x60.png" alt="logo">
				</figure>
				<nav class="c-header__nav pc-only">
					<ul class="c-header__list">
						<li class="c-header__listItem">
							<a href="#home" class="active">TRANG CHỦ</a>
						</li>
						<li class="c-header__listItem">
							<a href="#services">Dịch vụ</a>
						</li>
						<li class="c-header__listItem">
							<a href="#website">Thiết kế website</a>
						</li>
						<li class="c-header__listItem">
							<a href="#software">Thiết kế phần mềm</a>
						</li>
						<li class="c-header__listItem">
							<a href="#aboutus">Về chúng tôi</a>
						</li>
					</ul>
				</nav>
				
				<div href="#" class="is-menu sp-only">
					<img src="/assets/img/common/menu3.svg" alt="">
					<img src="/assets/img/common/close.svg" alt="">
				</div>

				<nav class="c-header__nav1 sp-only">
					<ul class="c-header__list">
						<li class="c-header__listItem">
							<a href="#home" class="active">TRANG CHỦ</a>
						</li>
						<li class="c-header__listItem">
							<a href="#services">Dịch vụ</a>
						</li>
						<li class="c-header__listItem">
							<a href="#website">Thiết kế website</a>
						</li>
						<li class="c-header__listItem">
							<a href="#software">Thiết kế phần mềm</a>
						</li>
						<li class="c-header__listItem">
							<a href="#aboutus">Về chúng tôi</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--▲ Header ▲-->